apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: notifications
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications 
  template:
    metadata:
      labels:
        app: notifications 
    spec:
        containers:
        - name: notification-service 
          image: us.gcr.io/fomo-204904/notification-service:dev
          imagePullPolicy: Always 
          command: [
            "./notification-service",
            "--selector=static",
            "--server_address=:8080"
          ]
          envFrom:
          - configMapRef:
              name: fomo-config
          env:
          - name: GORUSH_ADDRESS
            value: "gorush:9000"
          - name: APNS_TOPIC
            value: "com.mozzarello.projectfomo"
          - name: UPDATED_AT
            value: "Mon 19 Mar 2018 12:05:58 GMT"
          ports:
          - containerPort: 8080
            name: notes-port
