apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: plans
spec:
  replicas: 1
  selector:
    matchLabels:
      app: plans 
  template:
    metadata:
      labels:
        app: plans 
    spec:
        containers:
        - name: plan-service 
          image: us.gcr.io/fomo-204904/plan-service:dev
          imagePullPolicy: Always 
          command: [
            "./plan-service",
            "--selector=static",
            "--server_address=:8080"
          ]
          envFrom:
          - configMapRef:
              name: fomo-config
          env:
          - name: UPDATED_AT
            value: "Fri Aug 24 22:25:58 MDT 2018" 
          ports:
          - containerPort: 8080
            name: plans-port
